/* Page de résultats de prediction */

#results {
    overflow:auto;
    text-align:center;
}

#prizes {
    /*width: 345px;*/
    width:47%;
    display:inline-block;
    height:330px;
    border:1px dashed blue;
    margin:50px 1%;
}

#boxoffice {
    /*width:240px;*/
    display:inline-block;
    width:47%;
    height:330px;
    border:1px dashed magenta;
    margin:50px 1%;
}

#reviews {
    /*width:700px;*/
    display:inline-block;
    width:90%; 
    position:relative;
    height:320px;
    border: 1px dashed maroon;
    margin-left:auto;
    margin-right:auto;
}

#reviews .moreinfo{
 font-size: 1.1em; 
 position: absolute;
 bottom:0; right:0;
 width: 8%; 
 height: 1.5em; 
 padding-top:0.3em; /*permet le centrage vertical*/ 
 text-align: center;  
  overflow:auto;
    border-bottom:2px solid black;
   background: linear-gradient(rgb(213, 28, 33) 50%, rgb(215,46,28) 50%) repeat scroll 0% 0% transparent;
    background-color: transparent;
    background-image: linear-gradient(rgb(213, 28, 33) 0%, rgb(215,46,28) 50%);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
	border-radius:17px 17px 17px 17px;
}

#reviews .moreinfo a{
color: beige;
}
