/* Page de résultats de prediction */

#results {
    float:right;
    position: relative;
    overflow:auto;
    text-align:center;
    margin-right:1.5em;
    width : 1000px;
}
.prizes, .boxoffice, .reviews, .bagofwords{
    position : relative;
    width:43%;
    min-height : 20em;
    float:left;
    padding: 1%;
    margin-right:2%;
    margin-left:2%;
    border-radius:10px;
    border: 5px solid #D51C21;
    background-color : white;
}

#prizes, #boxoffice {
    margin-bottom:40px;
}

.circle{
    width : 150px;
    height : 150px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-75px;
    margin-top:-75px;
}


#reviews .moreinfo{
 font-size: 1.1em; 
 position: absolute;
 bottom:0; right:0;
 width: 8%; 
 height: 1.5em; 
 padding-top:0.3em; /*permet le centrage vertical*/ 
 text-align: center;  
  overflow:auto;
    border-bottom:2px solid black;
   background: linear-gradient(rgb(213, 28, 33) 50%, rgb(215,46,28) 50%) repeat scroll 0% 0% transparent;
    background-color: transparent;
    background-image: linear-gradient(rgb(213, 28, 33) 0%, rgb(215,46,28) 50%);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
	border-radius:17px 17px 17px 17px;
}

#reviews .moreinfo a{
color: beige;
}
