/* Page de résultats de prediction */

#results {
    margin:0 auto;
    position: relative;
    overflow:auto;
    text-align:center;
    width : 1000px;
}

#prizesborder, #boxofficeborder, #reviewsborder, #bagofwordsborder {
    position : relative;
    float:left;
    margin-left:20px;
    margin-right:20px;
    border-radius:10px;
    padding:5px;
}

.topborder {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#EA5255),to(#d51c21));
    background-image: -webkit-linear-gradient(top, #EA5255, #d51c21);
    background-image: -moz-linear-gradient(bottom, #EA5255, #d51c21);
    background-image: -o-linear-gradient(bottom, #EA5255, #d51c21);
    background-image: -ms-linear-gradient(bottom, #EA5255, #d51c21);
    background-image: linear-gradient(bottom, #EA5255, #d51c21);
}

.bottomborder {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EA5255),to(#d51c21));
    background-image: -webkit-linear-gradient(bottom, #EA5255, #d51c21);
    background-image: -moz-linear-gradient(top, #EA5255, #d51c21);
    background-image: -o-linear-gradient(top, #EA5255, #d51c21);
    background-image: -ms-linear-gradient(top, #EA5255, #d51c21);
    background-image: linear-gradient(top, #EA5255, #d51c21);
}

.greyborder{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
	background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
}

#prizesborder, #boxofficeborder {
    margin-bottom:40px;
}


#results h1 {
    display: table-cell;
    text-align: center;
    font-size: 25px;
    word-wrap:break-word;
    width: 25px;
    color: white;
    vertical-align:top;
    margin:0;
}

#boxofficeborder h1, #bagofwordsborder h1{
    padding-left:5px;
}

#reviewsborder h1{
    padding-right:5px;
    height:360px;
}

#prizesborder h1{
    height:345px;
    padding-right:5px;
}


#results h1 span {
    display : block;
}

.prizes, .boxoffice, .reviews, .bagofwords{
    display: table-cell;
    background: white;
    width: 420px;
    border-radius: 5px;
}
.boxoffice, .bagofwords{
    height:360px;
}

.circle{
    width : 150px;
    height : 150px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-75px;
    margin-top:-75px;
}


#reviews .moreinfo{
    font-size: 1.1em; 
    position: absolute;
    bottom:0; right:0;
    width: 8%; 
    height: 1.5em; 
    padding-top:0.3em; /*permet le centrage vertical*/ 
    text-align: center;  
    overflow:auto;
    border-bottom:2px solid black;
    background: linear-gradient(rgb(213, 28, 33) 50%, rgb(215,46,28) 50%) repeat scroll 0% 0% transparent;
    background-color: transparent;
    background-image: linear-gradient(rgb(213, 28, 33) 0%, rgb(215,46,28) 50%);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border-radius:17px 17px 17px 17px;
}

#reviews .moreinfo a{
color: beige;
}
