/* menubox acteur et réalisateur : rendu une fois selectionné */


#id_actors-deck > *, #id_directors-deck > *{
    display:table;
    width:100%;
    height: 4em;
    table-layout: fixed;
    padding-bottom:0px;
    padding-right:0px;
}

#id_actors-deck > * > *, #id_directors-deck > * > *{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    text-align:center;
}

#id_actors-deck p, #id_directors-deck p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width:70%;
}

#id_actors-deck p:hover, #id_directors-deck p:hover {
    color:#d51c21;
}

#id_actors-deck span, #id_directors-deck span {
    background-image:url("/pesto/static/img/croix.png");
    background-repeat:no-repeat;
    background-position: center left;
}

#id_actors-deck span:hover, #id_directors-deck span:hover {
    background-image:url("/pesto/static/img/croix2.png");
}

#id_actors-deck .photo, #id_directors-deck .photo {
    width:50px; 
}

#id_actors-deck .photo img, #id_directors-deck .photo img{
    width:50px;
    padding-top: 5px;
}

/* menubox acteur : rendu en cours de selection */

#id_actors-wrapper, #id_directors-wrapper {
    width:100%;
    text-align:center;
    float:left;
}

#id_actors-wrapper .yourlabs-autocomplete >*, #id_directors-wrapper .yourlabs-autocomplete >* {
    display:table;
    height: 3em;
    table-layout: fixed;
    padding-left:10px;
    padding-right:10px;
}

#id_actors-wrapper .yourlabs-autocomplete >* >*, #id_directors-wrapper .yourlabs-autocomplete >* >* {
    display:table-cell;
    vertical-align:middle;
    height:100%;
}

#id_actors-wrapper .yourlabs-autocomplete p, #id_directors-wrapper .yourlabs-autocomplete p  {
    padding-left:5px;
    width: 100%;
}

#id_actors-wrapper .yourlabs-autocomplete .photo, #id_directors-wrapper .yourlabs-autocomplete .photo {
    width:28px;
}

#id_actors-wrapper .yourlabs-autocomplete .photo img, #id_directors-wrapper .yourlabs-autocomplete .photo img{
    width:28px;
}

/* menubox genre */

#genresearch {
    display:table;
    width:100%;
    table-layout: fixed;
}


#genresearch > .autocomplete-light-widget {
    display:table-cell;
    vertical-align:middle;
    width:50%;
    text-align : center;
}

#genresearch input {
    width:90%;
}

#id_genre1-deck > * >* {
margin-top: 1px;
}

#id_genre2-deck > * >* {
margin-top: 1px;
}


/* menubox keywords */



#keywordSuggest {
	display: block;
	text-align:center;
	float:left;
	width:100%;
}

#id_keyword-wrapper, #id_keyword-wrapper {
    width:100%;
    text-align:center;
    float:left;
}


#id_keyword-deck >*  {
    float:left;
    padding:0 0 5px 0;
    margin:0;
    width: 50%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

#id_keyword-deck > * >* {
margin-top: 4px;
}

.newKeyword {
    float:left;
    padding:0 0 5px 0;
    margin:0 0.4em;
    max-width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}


.add1, .add2, {
    margin
    cursor: pointer;
}

.add1{
	z-index: 10;
	opacity: 1;
}

.add2{
	z-index: 0;
}
.delete { position:relative; width: 16px; height: 16px; display: inline-block; margin:1px }

.delete img {
 position: absolute;
 bottom: 0;
 left: 0;
 top:1px;
 width: 100%;
 height: 100%;
 cursor: pointer;
}

#suggest
{
    display: inline;
    background-image: url('../../img/prediction/inline-delete.png');
    color: #fff;
    cursor: pointer;
    float: left;
    height: 15px;
    margin-right: 10px;
    margin-top: 1px;
    text-indent: -999px;
    width: 15px;
}

#suggest:hover
{
    background-position: -15px 0;
}


.newKeyword:hover .suppress1{
opacity: 0;
transition-duration: 0.5s;
}

.newKeyword:hover .add1{
opacity: 0;
transition-duration: 0.5s;
}

#id_keyword-wrapper input:before{
    width:100%;
    white-space: normal;
}

/* menubox range*/

#slider-range {
    margin: 15px;
}

.listbudget{
text-align: center; 
font-size: 1em;
background-color: white;
overflow:auto;
padding: 0.6em;
}


.listbudget{
text-align: center;
font-size: 1em;
background-color: white;
overflow:auto;
}

.listbudget input{
text-align:center;
}

/* menubox release date*/

.seasonbox {
    width:21%;
    text-align:center;
    /*float:left;*/
    margin:4% 1%;
    display:inline-block;
    text-align:center;
}
#release {
overflow: auto;
}
.seasonbox label {
    display:block;
}

.seasonbox img {
    max-height:3em;
    max-width:3em;
}












