/* Checkboxes */

.checkbox{
    position : relative;
}

/* Style de la case totale */
#filters [type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: absolute;
    cursor: pointer;
    left : 3em;
    top : 4px;
}

#filters [type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
}

/* Style de la case avec yes et no */
#filters [type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    left: 0;
    top: -3px;
    width: 65px;
    height: 30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
    background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    border-radius: 15px;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    transition: background-color .2s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -1px;
}

/* Style du rond de couleur */
#filters [type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    width: 17px;
    height: 17px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    border-radius: 50%;
    background: white;
    top: 3px;
    left: 7px;
}

/*circle when checked*/
#filters [type="checkbox"]:checked + label:after {
    width: 16px;
    height: 16px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EA5255),to(#d51c21));
    background-image: -webkit-linear-gradient(top, #EA5255, #d51c21);
    background-image: -moz-linear-gradient(top, #EA5255, #d51c21);
    background-image: -o-linear-gradient(top, #EA5255, #d51c21);
    background-image: -ms-linear-gradient(top, #EA5255, #d51c21);
    background-image: linear-gradient(top, #EA5255, #d51c21);
    border : 1px solid #D51C21;
    left: 41px;
}

/*Boîte de texte*/
#filters [type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
    position: absolute;
    width: 4.8em;
    font-size: 1em;
    font-weight: bold;
    line-height: 22px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

/*Boîte de texte not checked*/
#filters [type="checkbox"]:not(:checked) + label .ui:before {
    content: "No";
    color: white;
    left: 0.5em;
}

/*Boîte de texte checked*/
#filters [type="checkbox"]:checked + label .ui:after {
    content: "Yes";
    color: white;
    right: 1.1em;
}

