/* Titres cases */

h1.steps {
    font-variant: small-caps;
    font-size: 1.5em;
    border-bottom: dashed 1px;
    margin: 0 auto;
    margin-top:10px;
    color : #a31512;
}

/* Icones de numérotation */

img.steps {
    position: absolute;
    max-height: 2.5em;
    max-width: 2.5em;
    vertical-align: middle;
    left: -1em;
    top: -1em;
    z-index: 10;
}

/* CASE 1 */
#moviesearch {
    position: relative;
    padding: 5px;
    overflow: visible;
    border: solid 2px #d51c21;
    border-radius: 5px;
    background-image:url("/pesto/static/img/explore/cubes2.jpg");
    background-repeat:no-repeat;
    background-position: center left;
    background-size: 100% 100%;
}

.movie {
    width:15.3em;
    height: 5em;
    table-layout: fixed;
    margin: 0;
    display:table-cell;
    vertical-align:middle;
    text-align: center;
}

.movie >* {
    width:100%;
}

#id_title_original-deck > * {
    font-size:1.1em;
    font-weight:bold;
    color: #D51C21;
    margin:0;
    padding:5px 0;
    background-color: rgba(255,255,255,0.7);
    border-radius:10px;
    border:1px solid #ededed;
}

#id_title_original-deck > * > *{
margin-top: 3px;
}

/* Case 2 + titre */

#distancecriteria {
    position: relative;
    overflow: visible;
    margin-left: 21em;
    padding: 5px;
    border: solid 2px #d51c21;
    border-radius: 5px;
    width: 72%;
    background-image: -moz-radial-gradient(center, ellipse farthest-side, white 20%, #EDEDED 100%);
    background-image: -webkit-radial-gradient(center, ellipse farthest-side, white 20%, #EDEDED 100%);
    background: -webkit-radial-gradient(center, ellipse farthest-side, white 20%, #EDEDED 100%);}

/* Contenu case 2 */

#filters {
    display: table;
    margin: 0 auto;
    text-align: center;
    height: 7.2em;
}

.filter {
    height: 100%;
    width: 10em;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#filters .filter .img {
    max-width: 4em;
    max-height: 3em;
}

#filters .filter p {
    margin:3px auto;
    color : #D51C21;
    font-size : 1.2em;
    
}

/* Cadre résultats */

#results {
    position: relative;
    border: solid 2px #d51c21;
    border-radius: 5px;
    overflow: auto;
    text-align: center;
    margin: 0 auto;
    margin-left:21em;
    width: 72%;
    padding: 5px;
    margin-top : 3em;
}

/* Gestion du menu */

.menufilters {
    position : relative;
    margin-top : 4em;
}

/* Acteurs */

.listactor{
    vertical-align:center;
    background-color: white;
    padding-top:8px;
    padding-right:8px;
    padding-left:8px;
}

.listactor:last-child {
    padding-bottom:8px;
}

/* Directeurs */

.listdirector{
    vertical-align:center;
    background-color: white;
    padding-top:8px;
    padding-right:8px;
    padding-left:8px;
}

.listdirector:last-child {
    padding-bottom:8px;
}

/* Genres */

.listgenre{
    vertical-align:center;
    background-color: white;
    padding-top:8px;
    padding-right:8px;
    padding-left:8px;
}

.listgenre:last-child {
    padding-bottom:8px;
}

/* Slider Budget*/

#slider-range {
    margin: 15px;
}

.listbudget{
text-align: center; 
font-size: 1em;
background-color: white;
overflow:auto;
padding:0.6em;
}

.listbudget input{
text-align:center;
}

/* Slider Année*/

#slider-rangeyear {
    margin: 15px;
}

.listyear{
text-align: center;
font-size: 1em;
background-color: white;
overflow:auto;
padding:0.6em;
}

.listyear input{
text-align:center;
}
/* Reviews */

.rateit{
margin-top:0.8em;
    margin-bottom:0.8em;
}

#value5 {
   display:none;

}

#reviews ul.nostyle {
    padding: 0;
    list-style-type: none;
}

#stars {
    text-align: center;
}

#stars img.star {
    max-width: 40px;
    max-height: 40px;
}

.listreviews{
background-color: white;
text-align:center;
vertical-align:center;
overflow:auto;
/*border-bottom: 1px solid rgb(80,88,100);*/
}

/* Coverflow */

canvas.cover {
	cursor:pointer;
	-webkit-box-reflect: below 20px;
	-webkit-box-reflect: above -40px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(white));
}

/* Zone de resultat */

div#carreCentral {
	border-radius:0.5em;
	display: table;
	position:absolute;
	width: 6em;
	height: 6em;
	background-color: #5697DB;
	border: 1px solid Black;
	z-index:10;
	text-align : center ;
	cursor: pointer;
}

div#carreCentral:hover {
	background-color: #1277E0;
}

p#conteneurTexteCentral{
	display:table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 1.8em;
	color:#fff;
}

div .barre_lien {
	position:absolute;
	height: 1px;
	background-color: #5697DB;
	border: 1px solid #5697DB;
	z-index:1;
	display:none;
}

div .cadre_film {
	position:absolute;
	height: 1.6em;
	background-color: Red;
	border: 1px solid Black;
	z-index:2;
	display:none;

    /*padding: 5px 15px 5px 38px;*/
    font-size:0.95em;
    line-height: 17px;
    color: #fff;
    background: #Ea7a7d;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div .cadre_film:hover{
	background: #Ea5255;
}

p.conteneur {
	position:relative;
	text-align: center;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	transform:translate(0px,-0.8em);
	-webkit-transform:translate(0px,-0.8em);
}
