.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.rateit .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url("/pesto/static/img/explore/star.gif");
    height: 16px;
    outline: none;
}

.rateit .rateit-range * {
    display:block;
}


.rateit .rateit-hover, .rateit .rateit-selected
{
    position: absolute;
    left: 0px;
}

.rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl
{
    left: auto;
    right: 0px;
}


div.bigstars div.rateit-range
{
    background: url("/pesto/static/img/explore/star-white32.png");
    height: 32px;
}

div.bigstars div.rateit-hover
{
    background: url("/pesto/static/img/explore/star-gold32.png");
}

div.bigstars div.rateit-selected
{
    background: url("/pesto/static/img/explore/star-gold32.png");
}



