/* Définitions générales */
body {
    margin:0 auto;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    background-image: -moz-radial-gradient(center, ellipse farthest-side, white 0%, #EDEDED 100%);
    background-image: -webkit-radial-gradient(center, ellipse farthest-side, white 0%, #EDEDED 100%);
    background: -webkit-radial-gradient(center, ellipse farthest-side, white 0%, #EDEDED 100%);

}

h1  {
    font-size:2em;
    color:#d51c21;
    font-family:'Fenix',serif;
    text-align:left;
}

h2 {
    font-size:1.8em;
    color:#444444;
    font-family:'Fenix',serif;
    text-align:left;
}

h3{
    font-size:1.5em;
    color:#5b5b5b;
    font-family:'Fenix',serif;
    text-align:left;
}

p{
    font-size:1em;
    color:#757575;
    font-family:'Fenix',serif; 
}


#title{
    float:left;
    margin:15px 0% 0px 5%;
}

/* Menu du haut*/

#header {
    width:100%;
    min-width:980px;
    max-width:1920px;
    height:50px;
    margin:0 auto;
    background-image: linear-gradient(#242424,#4A4A4A);
    background-image: -webkit-linear-gradient(top, #242424 ,#4A4A4A);
    box-shadow: 2px 0px 8px black;

}

.topmenubox {
    float:right;
    height:50px;
    display: table;
    text-decoration:none; 
    padding-right:30px;
}


.topmenubox > * {
    display: table-cell;
    vertical-align:middle;
    height:100%;
    margin:0;
}

.topmenubox img{
    height:30px;
    width:30px;
    padding-top : 10px;
    padding-right:5px;

}


.topmenubox h2 {
    color:white;
    font-size:0.9em;
}

#header h2:hover  {
    color:#d51c21; 
}

#header a:hover, #explore_img:hover #explore_text {
    color:#d51c21; 
}

/* Footer */

#footer {
    min-width:980px;
    max-width:1920px;
    margin:0 auto;
    clear:both;
}

#footer h3 {
    text-align:left;
    padding: 1%; 
    margin:0 auto; 
    font-size:0.8em;
}




