/* Gestion globale des menus */

#menu {
    float:left;
    width:25%;
    margin-left:2%;
}
  
.menubox {
    background-color: white;
    padding-left:5px;
    padding-right:5px;
    padding-top : 20px;
    padding-bottom : 20px;
    position: relative;
}

.menubox input {
    text-align : center;
}

#container{
    width:100%;
    max-width:1920px;
    margin:0 auto;
    overflow:auto;
    padding-top:2em;
}






