{% load static %}

<div data-value="{{ choice.pk }}" id="{{ choice.imdb_id }}">
    <!-- <div class="actor"> -->
    <div class="photo">
    {% ifequal choice.image_url "" %}
        <img src="{% static 'img/prediction/avatar_default.png' %}"  alt={{choice.name}}/>
    {% else %}
        <img src="http://prodbox.co/media/{{ choice.image_url }}" alt={{choice.name}}/>
    {% endifequal %}
    </div>
    <p>{{ choice.name}}
    <br>
    {% if choice.birth_country%}
    {% endif %}
</p>
    <!-- </div> -->	
</div>
