<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <!-- Appels de scripts -->
        <script type="text/javascript" src="{% static 'javascript/commun/jquery.js' %}" ></script> <!-- bibliothèque jquery -->
        <script type="text/javascript" src="{% static 'javascript/commun/jquery-ui.js' %}"></script> <!-- modules ui -->
        <script type="text/javascript" src="{% static 'javascript/commun/accordion.js' %}"></script>
        <script type="text/javascript" src="{% static 'javascript/commun/icheck.js' %}"></script>
        <script type="text/javascript" src="{% static 'javascript/commun/slider.js' %}"></script>
        <script type="text/javascript" src="{% static 'javascript/commun/lightbox-2.6.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'javascript/commun/spin.js' %}"></script>
        <script type="text/javascript" src="{% static 'javascript/commun/jquery.colorbox.js' %}"></script>
        <script type="text/javascript" src="{% static 'javascript/commun/jquery.colorbox-min.js' %}"></script>

        <!-- Appels css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/commun/commun.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/commun/menucommun.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/commun/lightbox.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/commun/accordion.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/square/red.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/commun/jquery-ui.css' %}"> 

        <!-- Appels de fonts -->
        <link href='http://fonts.googleapis.com/css?family=Fenix&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
                
        {% block extrahead %}
        {% endblock %}
        <title>ProdBox</title>
    </head>

    <body>
    
        <a href="{% static 'img/explore/selection.png' %}" data-lightbox="image-1" title="" id="lightbox_criteria"></a>
        <a href="{% static 'img/explore/select_movie.png' %}" data-lightbox="image-2" title="" id="lightbox_oneMovie"></a>

        
        <div id="header">       
            <div id="title">
                <a href="../">
                    <img src="{% static 'img/logo_prodbox.png' %}" alt="Titre"/>
                </a> 
            </div>

            <a href=""  class="topmenubox">
                <!-- <img src="{% static 'img/bouton_1.png' %}" alt="ProdBox" id="explore_img"/> -->
                <h2 style="font-weight: normal;" id="about_text">About us</h2>
            </a>

            <a href="mailto:pestowebmining13@gmail.com"  class="topmenubox">
                <!-- <img src="{% static 'img/bouton_1.png' %}" alt="ProdBox" id="explore_img"/> -->
                <h2 style="font-weight: normal;" id="mail_text">Contact</h2>
            </a>

            <div class="topmenubox">
                <!-- <img src="{% static 'img/bouton_1.png' %}" alt="ProdBox" id="explore_img"/> -->
                <h2 style="font-weight: normal;" id="vertbar">&#124</h2>
            </div>

            <a href="../prediction/"  class="topmenubox">
                <!-- <img src="{% static 'img/bouton_2.png' %}" alt="ProdBox" id="predict_img"/> -->
                <h2 id="predict_text">Predict</h2>
            </a>         

            <a href="../explore/"  class="topmenubox">
                <!-- <img src="{% static 'img/bouton_1.png' %}" alt="ProdBox" id="explore_img"/> -->    
                <h2 id="explore_text">Explore</h2>
            </a>




        </div>

        {% block content %}
        {% endblock %}


    </body>

</html>
