{% extends "base.html" %}

{% load static %}

{% block extrahead %}
    <meta charset="windows-1252">
    <meta name="viewport" content="width=device-width">
    
    <!-- Appels de scripts -->
    <script type="text/javascript" src="{% static 'javascript/explore/cadreFinal.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/explore/chargement.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/explore/carrousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/explore/resultatsProches.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/explore/bulleInfo.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/explore/icheck.js' %}"></script>        
    <script type="text/javascript" src="{% static 'javascript/explore/moviesearch.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/explore/requeteJson.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/explore/numbers.js' %}"></script>
    
    <!-- Appels css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/explore/explore.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/explore/checkboxes.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/explore/rateit.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/explore/results.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/line/red.css' %}"/>

    {% block explore_extrahead %}
    {% endblock %}

    <!-- A placer à la fin car buggé -->

    <script type="text/javascript" src="{% static 'javascript/explore/rateit.js' %}" ></script>
    <script type="text/javascript" src="{% static 'javascript/explore/jquery.rateit.js' %}" ></script>

{% endblock %}

{% block content %}
<div id="container">

    <!-- Menu de gauche-->

    {% block explore_menu %}
    {% endblock %}


    <!-- Page de selection des criteres -->

    <div id="distancecriteria">
        <img class="steps" src="{% static 'img/explore/2.png' %}" alt="2">
        <div class="intro">
            <h1 class="steps">Choose your distance criteria</h1>
        </div>

        <div id="filters">


            <form id="filtre" action="#">
                <div class="filter">
                    <p>Genre</p>
                    <img class="img" type="image" src="{% static 'img/explore/genre.png' %}" alt="image"/>
                    <figcaption class="checkbox" >
                        <input id="genre" type="checkbox"></input>
                        <label for="genre">
                            <span class="ui"></span>
                        </label>
                    </figcaption>
                </div>

                <div class="filter">
                    <p>People</p>
                    <img class="img" type="image" src="{% static 'img/explore/actors.png' %}" alt="image"/>
                    <figcaption class="checkbox" >
                        <input id="acteurs" type="checkbox"></input>
                        <label for="acteurs">
                            <span class="ui"></span>
                        </label>
                    </figcaption>
                </div>

                <div class="filter">
                    <p>Budget</p>
                    <img class="img" type="image" src="{% static 'img/explore/budget.png' %}" alt="image"/>
                    <figcaption class="checkbox" >
                        <input id="budgets" type="checkbox"></input>
                        <label for="budgets">
                            <span class="ui"></span>
                        </label>
                    </figcaption>
                </div>

                <div class="filter">
                    <p>Reviews</p>
                    <img class="img" type="image" src="{% static 'img/explore/reviews.png' %}" alt="image"/>
                    <figcaption class="checkbox" >
                        <input id="review" type="checkbox"></input>
                        <label for="review">
                            <span class="ui"></span>
                        </label>
                    </figcaption>
                </div>

            </form>
        </div>                
    </div>

    <!-- Page de resultats -->

    <div id="results">
        <div id="cadreResultats">
        </div>                
    </div>

</div>
{% endblock %}
        




