{% extends "explore.html" %}

{% load static %}

{% block explore_extrahead %}
    <!-- Appels annexes -->
    {% include 'autocomplete_light/static.html' %}
    {{ form.media }}
{% endblock %}

{% block explore_menu %}

<div id="menu">

    <!-- Case 1 -->
    <div id="moviesearch">
        <img class="steps" src="{% static 'img/explore/1.png' %}" alt="1">
        <h1 class="steps"> Choose a movie</h1>
        <form>
            <div class="movie">
                <div>
                {% if form.errors %}
                    <p style="color: red;">
                        Please correct the error{{ form.errors|pluralize }} below.
                    </p>
                {% endif %}
                {% for field in form.visible_fields %}
                        {{ field }}
                {% endfor %}
                </div>
            </div>
        {% csrf_token %}
        </form>
    </div>

    <!-- Case 3 -->
    <div class="menufilters">

        <img class="steps" src="{% static 'img/explore/3.png' %}" alt="3">
        <h1 class="steps">Narrow Down your search</h1>
        <form>
        <ul class="menu">
            <!-- Acteurs -->
            <li class="item1" id="actors"><a href="#"> Actors <span>0</span></a>
                <ul>

                </ul>
            </li>

            <!-- Directeurs-->
             <li class="item2" id="directors"><a href="#"> Director <span>0</span></a>
                <ul>

                </ul>
            </li>
    
            <!-- Genres -->
            <li class="item3" id="genres"><a href="#">Genre<span>0</span></a>
                <ul>

                </ul>
            </li>
    
            <!-- Budget -->
            <li class="item4" id="budget"><a href="#">Budget</a>
                <ul>
                    <li class="listbudget">
                    <label for="amount"></label>
                    <input type="text" id="amount" style="font-family:'Fenix',serif;text-align:center;margin-top:0.7em;background:transparent;border:0; font-size:0.9em; color: rgb(80,88,100); font-weight: bold"/>
                    <div id="slider-range" style="background-color:white;"></div>
                    </li>
                </ul>
            </li>

            <!-- Budget -->
            <li class="item5" id="year"><a href="#">Release Date</a>
                <ul>
                    <li class="listyear">
                    <label for="amountyear"></label>
                    <input type="text" id="amountyear" style="font-family:'Fenix',serif;text-align:center;margin-top:0.7em;background:transparent;border:0; font-size:0.9em; color: rgb(80,88,100); font-weight: bold"/>
                    <div id="slider-rangeyear" style="background-color:white;"></div>
                    </li>
                </ul>
            </li>
    
                <!-- Reviews -->
            <li class="item5" id="reviews"><a href="#">Reviews</a>
                <ul>
                    <li class="listreviews">
                        <ul class="nostyle" id="examples">
                            <li id="ex_1b">
                                <div class="rateit bigstars" id="rateit" data-rateit-starwidth="32" data-rateit-starheight="32"></div>
                                <div>
                                    <span id="value5"></span>
                                    <span id="hover5"></span>
                                </div>
                                <script type="text/javascript">
                                    $("#rateit").bind('rated', function (event, value) { $('#value5').text('You\'ve rated it: ' + value); });
                                    $("#rateit").bind('reset', function () { $('#value5').text('Rating reset'); });
                                    //$("#rateit").bind('over', function (event, value) { $('#hover5').text('Hovering over: ' + value); });
                                //if text wanted when hovering.
                                </script>  
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </form>
    </div>
</div>
{% endblock %}
       
