<html>

{% load static %}
<script src="{% static 'javascript/jquery.js' %}" type="text/javascript"></script>
{{ form.media }}

{% include 'autocomplete_light/static.html' %}

<body>
    <h1>Contact us {{ l }}</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form ...>
        {% for field in form.visible_fields %}
            {{ field }}
        {% endfor %}
    {% csrf_token %}
    </form>

</body>
</html>
