{% extends "base.html" %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<link href="{% static 'css/logo_accueil.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div id="homecontainer">

    <div id="background-image"></div>
    <!-- <h1>We cut the cinema industry into pieces..</h1>
    <h2>..to offer you advanced movie-watching and success prediction</h2> -->
                
    <a href="./explore/" id="explore">
        <div href="" class="circle"> 
            <div class="wrapper">
                <img src="{% static 'img/home/bouton_1_contenu.png' %}">
                <div class="cssdeck" id="cssdeck_explore"></div>
            </div>    
        </div>
        <p>Pick an existing movie and find the closest movies!</p>
        <div class="fleche" href=""><img type="image" src="{% static 'img/home/fleches.png' %}"/> </div>
    </a>
                    
    <a href="./prediction/" id="predict">
        <div href="" class="circle">  
            <div class="wrapper">
                <img src="{% static 'img/home/bouton_2_contenu.png' %}">
                <div class="cssdeck" id="cssdeck_predict"></div>
            </div> 
         </div>
        <p>Create your movie and predict its success!</p>           
        <div href="" class= "fleche"><img type="image" src="{% static 'img/home/fleches.png' %}"/> </div>
    </a>

    <div id="caption">
        <a href="./explore/" class="Explore_caption">Explore</a>
        <a href="./prediction/" class="Predict_caption">Predict</a>
    </div>


</div>

{% endblock %}