{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <title>Résultats Prédiction</title>
        <link rel="stylesheet" href="{% static 'cinema/results.css' %}">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script>
  $(function() {
    $( "#slider" ).slider();
  });
  </script>
    </head>
    <body>
        <div id="header">
            <h1>Jackast</h1>
            <h2><i>Cast'em all'</i></h2>    
        </div>

        <hr>
        <div id="main">
            <div id="leftbox">
                <p>Your Movie</p>

                <div class="box">
                    <h1 class="boxtitle">Actors</h1>
                    <div class="actor">
                        <p class="actorname">Leonardo DiCaprio</p>
                        
                        <img class="actor" src='http://images.allocine.fr/cx_160_213/b_1_d6d6d6/pictures/210/037/21003742_20130506174242197.jpg' 
                         height="50" width="50" alt="Leonard DiCaprio">
                        <img class="delete" src='https://cdn1.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png' 
                         alt="Delete">
                    </div>
                    
                    <div class="actor">
                        <p class="actorname">Sophie Marceau</p>
                        
                        <img class="actor" src='http://fr.web.img5.acsta.net/cx_160_213/b_1_d6d6d6/medias/nmedia/18/35/24/64/19481972.jpg' 
                         height="50" width="50" alt="Sophie Marceau">
                        <img class="delete" src='https://cdn1.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png' 
                         alt="Delete">
                    </div>
                    
                    <div class="actorsearch">
                        <span style="float:left;">Enter an actor's name... </span>
                        
                        
                        <img class="add" src='http://icongal.com/gallery/image/268146/add_button_new_edit_car_plus_green_equal.png' 
                         alt="Add">
                    </div>
                    
                    
                    
                    
                </div>

                <hr>


                <div class="box">
                    <h1 class="boxtitle">Type</h1>
                    <select name="Genre">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                    
                    <select style="margin-left:30px" name="Genre">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
                <hr>

                <div class="box">
                    <h1 class="boxtitle">Keywords</h1>
                     <!-- <div class="keywords"> -->
                        <p> <span class="keyword"> Rhinoerietnhuethnetue </span>
                        <img class="delete" src='https://cdn1.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png' 
                         alt="Delete">
                        <span class="keyword">Rhino</span>
                        <img class="delete" src='https://cdn1.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png' 
                         alt="Delete">
                         </p>
                         
                         <p> <span class="keyword"> Rhinoerietnhuethnetue </span>
                        <img class="delete" src='https://cdn1.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png' 
                         alt="Delete">
                        <span class="keyword">Rhino</span>
                        <img class="delete" src='https://cdn1.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png' 
                         alt="Delete">
                         </p>
                         
                         <p> <span class="keyword"> Rhinoerietnhuethnetue </span>
                        <img class="delete" src='https://cdn1.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png' 
                         alt="Delete">
                        
                         </p>
                    
                    
                    
                    
                    
                
                    
                    
                    <div class="keywordsearch">
                        <span style="float:left;">Enter a keyword... </span>
                        
                        
                        <img class="add" src='http://icongal.com/gallery/image/268146/add_button_new_edit_car_plus_green_equal.png' 
                         alt="Add">
                    </div>
                    
                    
                    
                    
                </div>
                <hr>

                <div class="box">
                    <h1 class="boxtitle">Directors</h1>
                    
                    <div class="actor">
                        <p class="actorname">Martin Scorsese</p>
                        
                        <img class="actor" src='http://upload.wikimedia.org/wikipedia/commons/f/fb/Martin_Scorsese_Cannes_2010.jpg' 
                         height="50" width="50" alt="Martin Scorsese">
                        <img class="delete" src='https://cdn1.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png' 
                         alt="Delete">
                    </div>
                    
                    <div class="actorsearch">
                        <span style="float:left;">Enter a director's name... </span>
                        
                        
                        <img class="add" src='http://icongal.com/gallery/image/268146/add_button_new_edit_car_plus_green_equal.png' 
                         alt="Add">
                    </div>
                </div>
                <hr>

                <div class="box">
                    <h1 class="boxtitle">Budget</h1>
                    <div id="slider"></div>
                </div>
                <hr>

                <div class="boxrelease">
                    <h1 class="boxtitle">Release</h1>
                    
                    <div class="seasonbox">
                        <img class="season" src="http://www.sandpoint.com/images/sandpoint_winter_icon.gif" alt="Winter">
                        <figcaption class="season">Winter</figcaption>
                    </div>
                    
                    <div class="seasonbox">
                        <img class="season" src="http://www.sandpoint.com/images/sandpoint_winter_icon.gif" alt="Winter">
                        <figcaption class="season">Winter</figcaption>
                    </div>
                    
                    <div class="seasonbox">
                        <img class="season" src="http://www.sandpoint.com/images/sandpoint_winter_icon.gif" alt="Winter">
                        <figcaption class="season">Winter</figcaption>
                    </div>
                    
                    <div class="seasonbox">
                        <img class="season" src="http://www.sandpoint.com/images/sandpoint_winter_icon.gif" alt="Winter">
                        <figcaption class="season">Winter</figcaption>
                    </div>


                </div>
                <hr>

            </div>

            <div id="prizes">
                <h1 class="boxtitle">Prizes</h1>
                <img class="oscar" src='http://www.veryicon.com/icon/png/Movie%20%26%20TV/Cinema/Oscar.png' 
                         alt="Oscar"/>
                <img class="oscar" src='http://www.veryicon.com/icon/png/Movie%20%26%20TV/Cinema/Oscar.png' 
                         alt="Oscar"/>
                <img class="oscar" src='http://www.veryicon.com/icon/png/Movie%20%26%20TV/Cinema/Oscar.png' 
                         alt="Oscar"/>
                <img class="oscar" src='http://www.veryicon.com/icon/png/Movie%20%26%20TV/Cinema/Oscar.png' 
                         alt="Oscar"/>
                <img class="oscar" src='http://www.veryicon.com/icon/png/Movie%20%26%20TV/Cinema/Oscar.png' 
                         alt="Oscar"/>
                         
                 <br>
                         
                <img class="moreprizes" src='http://icongal.com/gallery/image/268146/add_button_new_edit_car_plus_green_equal.png' 
                          alt="add"/>
                
            </div>

            <div id="boxoffice">
                <h1 class="boxtitle">Box office</h1>
                <div id="boxofficegeneral">
                <h2>General</h2>
                <p class="dots">...</p>
                <p class="ranking">256. Titanic ($ 236M)</p>  
                <p class="rankingmyfilm">257. $ 236M</p>
                <p class="ranking">258. Rush Hour ($229 M)</p>
                <p class="dots">...</p>
                <img class="moreboxoffice" src='http://icongal.com/gallery/image/268146/add_button_new_edit_car_plus_green_equal.png' 
                          alt="add"/>
                </div>
                
                <div id="boxofficegenre">
                <h2>Genre</h2>
                <p class="dots">...</p>
                <p class="ranking">26. LOL ($ 241M)</p>  
                <p class="rankingmyfilm">27. $ 236M</p>
                <p class="ranking">28. Dr Doolittle ($230 M)</p>
                <p class="dots">...</p>
                <img class="moreboxoffice" src='http://icongal.com/gallery/image/268146/add_button_new_edit_car_plus_green_equal.png' 
                          alt="add"/>
                  
                </div>
                
            </div>

            <div id="reviews">
                <h1 class="boxtitle">Reviews Grey</h1>
                
                <div id="averagestars">
                  <p style="text-align:center">
                  <span class="presse">Presse</span>
                   <img class="star" src='http://4vector.com/i/free-vector-icon-star-clip-art_117085_Icon_Star_clip_art_hight.png' 
                          alt="Star"/>
                  <img class="star" src='http://4vector.com/i/free-vector-icon-star-clip-art_117085_Icon_Star_clip_art_hight.png' 
                          alt="Star"/>
                  <img class="star" src='http://4vector.com/i/free-vector-icon-star-clip-art_117085_Icon_Star_clip_art_hight.png' 
                          alt="Star"/>
                  <img class="star" src='http://4vector.com/i/free-vector-icon-star-clip-art_117085_Icon_Star_clip_art_hight.png' 
                          alt="Star"/>
                  <img class="star" src='https://lh5.googleusercontent.com/-DX7ZiJMh0tU/AAAAAAAAAAI/AAAAAAAAAAA/K5qt15wHDew/s48-c-k/photo.jpg' 
                          alt="Star"/>
                  
                  <span class="rating">3.2</span>
                  <span class="nbcritiques">12 critiques</span>
                  </p>
                   
                </div>
                
                <div id="magazinereviews">
                  <p style="text-align:center">
                  <img class="like" src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/s48x48/158020_298502230195058_891010930_q.jpg' 
                          alt="Dislike"/>
                          
                  <span class="magazinename">Inrockuptibles</span>
                  
                  <img class="star" src='http://4vector.com/i/free-vector-icon-star-clip-art_117085_Icon_Star_clip_art_hight.png' 
                          alt="Star"/>
                  <img class="star" src='http://4vector.com/i/free-vector-icon-star-clip-art_117085_Icon_Star_clip_art_hight.png' 
                          alt="Star"/>
                  <img class="star" src='https://lh5.googleusercontent.com/-DX7ZiJMh0tU/AAAAAAAAAAI/AAAAAAAAAAA/K5qt15wHDew/s48-c-k/photo.jpg' 
                          alt="Star"/>
                  <img class="star" src='https://lh5.googleusercontent.com/-DX7ZiJMh0tU/AAAAAAAAAAI/AAAAAAAAAAA/K5qt15wHDew/s48-c-k/photo.jpg' 
                          alt="Star"/>
                  <img class="star" src='https://lh5.googleusercontent.com/-DX7ZiJMh0tU/AAAAAAAAAAI/AAAAAAAAAAA/K5qt15wHDew/s48-c-k/photo.jpg' 
                          alt="Star"/>
                  
                  
                  <img class="arrow" src='http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/512/Image-Edition-Tools-Arrow-icon.png' 
                          alt="Star"/>
                                           
                  <img class="dislike" src='http://th1162.photobucket.com/albums/q521/chiffoniercouture/th_facebook-like-icon.jpg' 
                          alt=">Like"/>
                  <span class="magazinename">Elle</span>
                  
                          
                  <img class="star" src='http://4vector.com/i/free-vector-icon-star-clip-art_117085_Icon_Star_clip_art_hight.png' 
                          alt="Star"/>
                  <img class="star" src='http://4vector.com/i/free-vector-icon-star-clip-art_117085_Icon_Star_clip_art_hight.png' 
                          alt="Star"/>
                  <img class="star" src='https://lh5.googleusercontent.com/-DX7ZiJMh0tU/AAAAAAAAAAI/AAAAAAAAAAA/K5qt15wHDew/s48-c-k/photo.jpg' 
                          alt="Star"/>
                  <img class="star" src='https://lh5.googleusercontent.com/-DX7ZiJMh0tU/AAAAAAAAAAI/AAAAAAAAAAA/K5qt15wHDew/s48-c-k/photo.jpg' 
                          alt="Star"/>
                  <img class="star" src='https://lh5.googleusercontent.com/-DX7ZiJMh0tU/AAAAAAAAAAI/AAAAAAAAAAA/K5qt15wHDew/s48-c-k/photo.jpg' 
                          alt="Star"/>
                  </p>
                  
                  <br>
                  <img class="morereviews" src='http://icongal.com/gallery/image/268146/add_button_new_edit_car_plus_green_equal.png' 
                          alt="add"/>
                          
                  
                  
                            
                  
                </div>
                
                
                
                <div id="bagofwords">
                  breathtaking amazing wonderful
                </div>
                
            </div>
        </div>

    </body>
</html>
